    /* Global Styling */

    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }


body {
    background-image: url("Images/img1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

    /* Logo Styling */


    .logo {
        width: 25%;
       cursor: pointer;
       margin-left: 5%;
       margin-top: 2%;

    }

    .nav_container {
        width: 100%;
        height: 3%;
        margin: 4% auto;
        display: flex;
        align-items: center;
        display: flex;
        justify-content: space-between;
       
    }

    .nav_bg {
        width: 100%;
        height: 12%;
        position: absolute;
        top: 0;
        background: rgba(2, 8, 41, 0.569);
        z-index: -1;
        backdrop-filter: blur(10px);

    }

    .btn {
        color: #fbfcfd;
        padding: 10px 25px;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 20px;
        outline: none;
        cursor: pointer;
        margin-left: 25%;
    }

    small {
        margin-left: 11%;
        font-size: 18px;
    }

    /* Navigation Styling */

    nav {
        width: 40%;
        height: 25%;
       
    }

    .nav_items {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-right: 5%;
    }

    .nav_link {
        color: #fff;
    }




    /* Content Styling */

    .content {
        color: #fbfcfd;
        position: absolute;
        top: 50%;
        left: 8%;
        transform: translateY(-55%);
        z-index: 2;
        padding-top: 10%;
    }

    h1 {
        font-size: 180px;
        margin: 10% auto;
        line-height: 90%;
        font-family: 'Anybody', sans-serif;
    }

    audio {
        position: absolute;
        bottom: 7%;
        left: 9%;
        width: 20%;
    }



    /* Media Queries */

/* laptop */
@media (max-width: 1024px) {
    audio {
        width: 28%;
        left: 8%;
    }

    h1 {
        font-size: 150px;
        margin-top: 12%;
    }

    small {
        margin-left: 12%;
        font-size: 15px;
    }
    .btn {
        margin-left: 23%;
    }

    .nav_container {
        margin-top: 3%;
    }
    
}

/* tablet */
@media (max-width: 768px) {
    .nav_container {
        margin-top: 5%;
    }

    nav {
        width: 100%;
        margin-right: 10%;
    }
    .nav_items {
        width: 100%;

    }
    
    .logo {
        width: 40%;
    }

    h1 {
        font-size: 115px;
        margin-top: 14%;
        margin-left: 7%;
    }

    .btn {
        margin-left: 22%;
    }

    .content {
        transform: translateY(-50%);
        left: 5%;
    }

    audio {
        display: none;
    }

    small {
        font-size: 13px;
    }
}

/* mobile */
    @media (max-width:375px) {
        body {
            background-image: url("Images/img1.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
        }
        .nav_container {
            width: 100%;
            flex-direction: column;
            text-align: center;
        }

        .logo {
            width: 40%;
        }

        nav {
            width: 100%;
            margin-top: 3%;
        }
        .nav_items {
            font-size: 16px;
            width: 80%;
            margin: 0 auto;
        }

        .content {
            left: 10%;
            width: 90vw;
            height: 40vh;
            background: rgba(2, 8, 41, 0.569);
            backdrop-filter: blur(10px);

        }

        h1 {
            font-size: 75px;
            text-align: center;
            margin: 7% auto;
            font-family: 'Anybody', sans-serif;
        }

        small {
            text-align: center;
            margin-left: 12%;
        }
    
        audio {
            display: none;
        }
        .btn {
            margin-left: 25%;
        }
    }
